META_APP_ID=
META_APP_SECRET=
META_GRAPH_API_VERSION=
META_OAUTH_REDIRECT_URI=
META_LOGIN_CONFIG_ID=
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_OAUTH_REDIRECT_URI=
TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
TIKTOK_OAUTH_REDIRECT_URI=
TIKTOK_DIRECT_POST_MODE=unaudited
TIKTOK_MEDIA_SIGNING_KEY=
TIKTOK_MEDIA_PUBLIC_BASE_URL=
TIKTOK_MEDIA_VERIFICATION_FILENAME=
TIKTOK_MEDIA_VERIFICATION_CONTENT=
TOWKN_APP_URL=
ALLOWED_APP_ORIGINS=
SOCIAL_TOKEN_ENCRYPTION_KEY=
PUBLISHING_WORKER_SECRET=
PUBLISHING_BATCH_SIZE=5
PUBLISHING_IMAGE_URL_TTL_SECONDS=3600
PUBLISHING_VIDEO_URL_TTL_SECONDS=21600
PUBLISHING_MAX_ATTEMPTS=5
